.image-wrapper {
  max-width: 300px;
  max-height: 350px;
}

.sort
{
  text-align: right;
  margin-right: 8%;
}

select {
  border: 3px solid black;
  border-radius: 2pc;
  
}
.search input{
  border: 3px solid black;
  border-radius: 5px;
}
#text-input
{
  width: 300px;
}
#iconCart {
  font-size: 40px;
  /* border: 1px solid black; */
  margin-top: 30%;
}

#icon-Cart{
  font-size: 30px;
}

.circle
{
  border: 1px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  right: 2%;
  bottom: 5%;
  position: fixed;
  background-color: #599ee2;
}
#order {
  /* float: right; */
  width: 28%;
  height:500px;
  border: 2px solid black;
  /* display: flex; */
  overflow: hidden;
  /* display: block; */
  position: fixed;
  right: 2%;
  top: 7%;
  background-color: rgba(143, 145, 148, 0.747);
  visibility: hidden;
  z-index: 1;
}


.border {
  /* padding: 10px; */
  border-bottom: 2px solid black;
}

.circle:hover {
  background-color: aqua;
}

.img{
  margin-right: 10px;
  max-width: 100px;
  max-height: 160px;
}

.card{
  max-width: 70%;
}

.col-md {
  text-align: center;
  margin-top: 30px;
}
.price-1 {
  font-size: 30px;
}

.book-name {
  font-size: 40px;
}

button{
  background-color: #fc7777;
  margin-bottom: 100px;
  bottom: 0px;
  border-radius: 5px;
  display: inline;
}
.top{
  margin-top: 20px;
}
.gia {
  font-size: 20px;
  font-weight: bold;
}
.sum {
  /* border: 2px solid black; */
  width: 300px;
  height: 200px;
  bottom: 200px;
  margin-left: 75%;
  position: fixed;
  z-index: 1 ;
  background-color: #edf5e1a1;
  box-shadow:  2px 2px 2px 2px;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.top :hover {
  background-color: #ec3434;
  color: #EDF5E1;
}