.image-wrapper {
    max-width: 300px;
    max-height: 350px;
}

.sort
{
    text-align: right;
    margin-right: 8%;
}
.inl {
    display: inline-block;
}
input {
    height: 35px;
    border-radius: 5px;
    font-weight: bolder;
}
#text-input{
    width: 350px;
    max-width: 400px;
}
select {
    height: 35px;
    border-radius: 10px;
    font-weight: bolder;
    /* text-align: left; */
}

.chucnang
{
    padding-left: 30%;
    
}

#iconCart {
    font-size: 40px;
    /* border: 1px solid black; */
    margin-top: 30%;
}

#icon-Cart{
    font-size: 30px;
}

.circle
{
    border: 1px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    right: 2%;
    bottom: 2%;
    position: fixed;
    background-color: #599ee2;
}
#order {
    /* float: right; */
    width: 28%;
    height:500px;
    border: 2px solid black;
    /* display: flex; */
    overflow: hidden;
    /* display: block; */
    position: fixed;
    right: 2%;
    top: 7%;
    background-color: rgba(143, 145, 148, 0.747);
    visibility: hidden;
    z-index: 1;
}


.border {
    /* padding: 10px; */
    border-bottom: 2px solid black;
}

.circle:hover {
    background-color: aqua;
}
#logo{
    max-width: 150px;
    max-height: 150px;
}
#logoCart
{
  max-width: 80px;
  max-height: 80px;
  border-radius: 50% 50%;
  overflow: hidden;
  border: 1px solid black;
  /* display: inline-block; */
  right: 20px;
  bottom: 60px;
  position: fixed;
  z-index: 1;
  background-color: aqua;
}

